/* app css stylesheet */

html, body {
  height: 99%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x:hidden;
}

#menu li {
	display: inline;
	list-style-type: none;
}

.added {
	opacity: 0.5;
}

.paused {
	opacity: 0.5;
}