/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #4b526d;
  font-family: 'Roboto', sans-serif;
  font-color: #313559;
}

#menu {
	position: fixed;
	text-align: center;
	bottom: 0px;
	z-index: 10;
	height: 70px;
	width: 100%;
	background-color: #313559;
}



#submenu {
	position: absolute;
	bottom: 76px;
  left: 0;
  right: 0;
  margin: 0 auto;
	z-index: 10;
	height: 44px;
	width: 90%;
  border-radius: 22px;
	background-color: #f4f3ef;
  /*border-bottom: 2px solid rgba(0,0,0,0.1);*/
  text-align: center;
}

#submenu ul {
  margin-top: 6px;
  margin-left: -38px;
}

 li {
  background-color: #e2dfd9;
 }

#submenu li {
  display: inline;
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
  padding: 2px 8.5% 6px 8.5%;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  
  border-radius: 20px;
  border-top: 2px solid rgba(0,0,0,0.1);
}

.added {
  background-color: #444c6b;
  color: white;
  border: 0px;

  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    height: 75px;
    width: 60px;
    display:inline-block;
}

input#beat[type="checkbox"] + label {
    background: url('../img/beat_icon1.png');
}

input#beat[type="checkbox"]:checked + label {
    background: url('../img/beat_icon2.png');
}

input#bass[type="checkbox"] + label {
    background: url('../img/bass_icon1.png');
}

input#bass[type="checkbox"]:checked + label {
    background: url('../img/bass_icon2.png');
}


input#melody[type="checkbox"] + label {
    background: url('../img/melody_icon1.png');
}

input#melody[type="checkbox"]:checked + label {
    background: url('../img/melody_icon2.png');
}


input#voice[type="checkbox"] + label {
    background: url('../img/vocal_icon1.png');
}

input#voice[type="checkbox"]:checked + label {
    background: url('../img/vocal_icon2.png');
}





#topMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 20;
}

#topMenu button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #7e7ce8;
  margin: 5px;
  border: none;
  font-size: 16px;
  color: white;
}

#categories {
  margin: -6px 2% 0 2%;
}

.paused {
	opacity: 0.5;

  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#soundboard {
	position: fixed;
  height: 100%;
  width: 100%;
}

.tile {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 540px;
  float: left;

  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tile img {
  height: 200px;
}

.inner-element {
  display: inline-block;
}

.green {
	background: #93c65d;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.red {
	background: #e87967;
}

.blue {
  background: #4ac9d7;
}

.yellow {
  background: #f7d569;
}

.deleteButton {
  z-index: 10;
}


.textareas {
	display: none;
}
