/* app css stylesheet */

html, body {
  height: 99%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  overflow-x:hidden;
}

.is-grey-true { background-color: #ccc; }
.error { background-color: red; opacity: 0.5;}
