<!doctype html>
<html lang="en" ng-app="soundApp">
<head>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Sound Party</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>

  <script src="js/loading.js"></script>
</head>

<body>
  <div id ="loadScreen">
    <div id="loading"><img class="resize" ng-src='./img/loading.gif' /></div>
  </div>
<!-- <body> -->

  <div ng-app="soundApp" ng-controller="soundController">
<!--   <button id="authorizeButton" enabled>You must authorize</button> -->

    <!-- <div ng-show="splashHideShow"> -->
    <div id="topMenu">
      <div id ="shakeMe"></div>
      <!-- <button ng-click="clearAll(); newSoundParty();">Clear</button> -->
      <button ng-click="loadSoundParty(loadList)">Load</button>
      <button id="saveButton" ng-click="save()"></button>
    </div>

    
    <div id="gradient"></div>
    <div id="backButton"></div>

    <!-- <div ng-show="soundPartyHideShow"> -->
      
    <div id="menu">

      <div id="soundCategories">

        <label id="categories" ng-repeat="type in types">
            <input type="checkbox" name="category" id="{{type.category}}" ng-click="checkMenuToggle(); filters.type = type.category" />
            <label for="{{type.category}}"></label>
            <!-- <img ng-src= './img/{{ type.default }}' /> -->
        </label>

        <!-- <a href="" ng-click="save()">Save</a> -->

      </div>

      <div id="submenu" ng-show="soundmenuHideShow">

          <ul>
            <li ng-repeat="sound in sounds | filter:filters" ng-click="sound.added = !sound.added; addSound(sound.id)" ng-class="{added: (sound.added && checkNumSounds())}">          
                {{ sound.name }}
            </li>
          </ul>

      </div>  
    </div>



    <div id="soundboard">

      <div ng-repeat="sound in sounds track by $index" ng-click="sound.isPlaying = !sound.isPlaying; togglePlay($index);">

        <div class="tile" ng-show="sound.added == true" ng-class="{'paused': sound.isPlaying, 'green': sound.type == 'beat', 'red': sound.type == 'bass', 'blue': sound.type == 'voice', 'yellow': sound.type == 'melody'}">


            <!-- <audio ng-src="{{ sound.audio }}" ontimeupdate="document.getElementById('tracktime').innerHTML = (this.currentTime) + ' / ' + (this.duration);">
                <p>Your browser does not support the audio element</p>
            </audio>
            <span id="tracktime">0 / 0</span> -->
            <!-- <button onclick="document.getElementById('track').play();">Play
            </button> -->



            <div class="innerElement">
                <img ng-src='./img/{{ sound.pic }}' /> 
            </div>


            <a href="javascript:void(0)" class="deleteButton" ng-click="deleteSound($index); sound.isPlaying == true"></a>

        </div>

      </div>
    </div>

    <!-- <h1>----IGNORE BELOW FOR NOW----</h1> -->

    

    <div class="textareas">
      <button id="authorizeButton" enabled>You must authorize</button>

      <p>These text areas are on the same page. You can also
      <a href="#" onclick="window.open(window.location.href);return false;">
      open them on separate users' browsers</a> and they will remain synchronized.</p>

      <textarea name="outputtext" id="editor1" rows="15" cols="50" disabled="true"></textarea>
      <textarea id="editor2" rows="15" cols="50" disabled="true"></textarea>
    </div>

    
  </div>



  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="bower_components/angular-soundmanager2/dist/angular-soundmanager2.js"></script> -->
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/hammer.js/hammer.js"></script>
  <script src="bower_components/EventEmitter/EventEmitter.min.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script type="text/javascript" src="js/realtime-client-utils.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/drive.js"></script>
  <script src="js/shake.js"></script>

</body>
</html>
