<!doctype html>
<html lang="en" ng-app="soundApp">
<head>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Sound Party</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
</head>

<body onLoad='startRealtime()'>
<!-- <body> -->

  <div ng-app="soundApp" ng-controller="soundController">
    <!-- <div ng-show="splashHideShow"> -->
    <div id="topMenu">
      <button ng-click="newSoundParty()">Clear</button>
      <button ng-click="loadSoundParty(loadList)">Load</button>
      <!-- <button ng-click="save()">Save</button> -->
    </div>

    <!-- <div ng-show="soundPartyHideShow"> -->
      
    <div id="menu">

      <!-- <button id="addButton" ng-click="menuToggle(); filters.type = ''">+</button> -->

      <div id="soundCategories" ng-click="viewSoundMenu()">
        <div ng-repeat="type in types">          
            <img ng-src= './img/{{ type.default }}' ng-click="isActive = !isActive; filters.type = type.category" />



            

        </div>

        <!-- <a id="beat" href="" ng-click="filters.type = 'beat'" ng-class"{true: 'btn-primary', false: 'btn-danger'}[!pressed]"><img src="./img/beat_icon1.png" /></a>
        <a id="bass" href="" ng-click="filters.type = 'bass'"><img src="./img/bass_icon1.png" /></a>
        <a id="melody" href="" ng-click="filters.type = 'melody'"><img src="./img/melody_icon1.png" /></a>
        <a id="voice" href="" ng-click="filters.type = 'voice'"><img src="./img/vocal_icon1.png" /></a>
        <a href="" ng-click="save()">Save</a> -->
        <!-- <div ng-repeat="type in types">
          <img src="./img/{{ type.default }}" />
        </div> -->

      

        <!-- <button id="beat" href="" ng-click="isPressed = !isPressed; filters.type = 'beat'" ng-class="{pressed: isPressed}">
        </button>

        <a id="bass" href="" ng-click="filters.type = 'bass'">
          <img src="./img/bass_icon1.png" />
        </a>

        <a id="melody" href="" ng-click="filters.type = 'melody'">
          <img src="./img/melody_icon1.png" />
        </a>

        <a id="voice" href="" ng-click="filters.type = 'voice'">
          <img src="./img/vocal_icon1.png" />
        </a> -->


        <a href="" ng-click="save()">Save</a>

      </div>

      <div id="submenu" ng-show="soundmenuHideShow">
          <!-- <li ng-repeat="sound in sounds | filter:filters" ng-click="addSound(sound.id)">          
              <img ng-src='img/{{ sound.thumb }}' ng-click="sound.added = !sound.added" ng-class="{added: sound.added}" />
          </li> -->

          <!-- <li ng-repeat="sound in sounds | filter:filters" ng-click="addSound(sound.id)">          
              <img ng-src='img/{{ sound.thumb }}' ng-click="sound.added = !sound.added" ng-class="{added: sound.added}" />
          </li> -->

          <ul>
            <li ng-repeat="sound in sounds | filter:filters" ng-click="sound.added = !sound.added; addSound(sound.id)" ng-class="{added: sound.added}">          
                {{ sound.name }}
            </li>
          </ul>

      </div>  
    </div>



    <div id="soundboard">
      <div ng-repeat="sound in sounds track by $index" ng-click="sound.isPlaying = !sound.isPlaying; togglePlay(sound.id);">



          <div class="tile" ng-show="sound.added == true" ng-class="{'paused': sound.isPlaying, 'green': sound.type == 'beat', 'red': sound.type == 'bass', 'blue': sound.type == 'voice', 'yellow': sound.type == 'melody'}">
            <div class="innerElement">
              <img ng-src='./img/{{ sound.pic }}' />
            </div>
          </div>


          <!-- <a href="javascript:void(0)" ng-show="sound.added == true" ng-click="deleteSound($index)">delete</a> -->

      </div>
    </div>

    <!-- <h1>----IGNORE BELOW FOR NOW----</h1> -->

    

    <div class="textareas">
      <button id="authorizeButton" disabled>You must authorize</button>

      <p>These text areas are on the same page. You can also
      <a href="#" onclick="window.open(window.location.href);return false;">
      open them on separate users' browsers</a> and they will remain synchronized.</p>

      <textarea name="outputtext" id="editor1" rows="15" cols="50" disabled="true"></textarea>
      <textarea id="editor2" rows="15" cols="50" disabled="true"></textarea>
    </div>

    
  </div>



  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="bower_components/angular-soundmanager2/dist/angular-soundmanager2.js"></script> -->
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/hammer.js/hammer.js"></script>
  <script src="bower_components/EventEmitter/EventEmitter.min.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script type="text/javascript" src="js/realtime-client-utils.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/drive.js"></script>

</body>
</html>
